#profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    font-size: initial;
}

#navbar {
    display: flex;
    justify-content: center;    
    font-size: 32px;
}

#navbar-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 600px;
    height: 100px;
}

#navbar-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-entry button {
    flex: 1;
    height: 100%;

    background-color: #A2BB4A;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navbar-entry.active button {
    background-color: #F2BB4A;
}

#profile-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 8px;
}

#profile-root > section {
    display: none;

    width: 600px;
}

#profile-root > section.active {
    display: initial;
}

#home-section-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#home-section-wrapper > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wall-message-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 8px;

    padding: 8px;
    gap: 8px;

    width: 100%;

    border: 3px solid black;
    border-radius: 4px;
    background-color: white;
}

#wall-message-list > hr {
    margin: 0;
}